@model List<Category>

<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Items</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Items.Count
                </td>
                @if(@item.Items.Count > 0){
                <td class="fw-bold">
                    In Stock
                </td>
                }else{
                <td class="text-danger fw-bold">
                    Out of Stock
                </td>
                }
            </tr>
        }

    </tbody>
</table>