@model List<Category>

<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
        <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Name</th>
            <th class="text-center">Items</th>
            <th class="text-center">Status</th>
        </tr>
    </thead>
    <tbody>
        
        @foreach(var item in Model)
        {
            <tr>
                <td class="text-center">@item.Id</td>
                <td class="text-center">
                    @item.Name
                </td>
                <td>
                    <div class="input-group-text m-auto w-25   fw-bold">
                        @item.Items.Count
                    </div>
                </td>
                @if(@item.Items.Count > 0){
                <td class="fw-bold text-center">
                    In Stock
                </td>
                }
                else
                {
                <td class="text-danger fw-bold text-center">
                    Out of Stock
                </td>
                }
            </tr>
        }

    </tbody>
</table>