@model List<Payment>

<h1 class="text-center">Receipt Payment</h1>

<table class="table align-middle mt-4 bg-white">
    <thead class="bg-light">
        <tr>
            <th class="text-center">Id</th>
            <th class="text-center">ReceiptNo</th>
            <th class="text-center">PaymentDate</th>
            <th class="text-center">Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @item.Id
                </td>
                <td class="text-center">
                    #@item.ReceiptId
                </td>
                <td class="text-center">
                    @item.PaymentDate
                </td>
                <td class="text-center">
                    <div class="input-group-text fw-bold w-50 m-auto">
                        $@item.Amount
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>