@model Counts


<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
        <h1 class="display-3 fw-bold">Receipt Porject</h1>

        <div class="d-flex flex-wrap justify-content-center">

            <a class="btn btn-light py-4 px-4 fs-4 text-center" href="/Category/Index" id="category-count">
                Categories @Model.CategoryCount
            </a>
            
            <a class="btn btn-light py-4 px-4 fs-4 text-center my-1" href="/Item/Index" id="item-count">
                Items @Model.ItemCount
            </a>

@*             <a class="btn btn-light py-4 px-4 fs-4 text-center flex-grow-1" id="ajax-call-button">
                Ajax Call
            </a> *@

        </div>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>


                                                                                    