@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="d-flex">
    @if (SignInManager.IsSignedIn(User))
    {


        <div class="dropdown">

            <button class="btn btn-dark px-2 dropdown-toggle d-flex align-items-center justify-content-start"
                    data-bs-toggle="dropdown" aria-expanded="false">
                <div class="d-inline d-flex">
                    <div class="d-flex align-items-center">
                        <img class="img-fluid rounded-5"
                             src="https://bootdey.com/img/Content/avatar/avatar7.png"
                             alt="ProfilePic" width="35" height="35">
                    </div>
                    <div class="d-flex align-items-center">
                        Abdulrahman
                    </div>
                </div>
            </button>


            <ul class="dropdown-menu">
                <li>
                    <a asp-controller="Profile" asp-action="Index" class="dropdown-item">
                        Account
                    </a>
                </li>
                <li>
                    <a asp-action="NewReceipt" asp-controller="Receipt" class="dropdown-item">
                        Cart
                    </a>
                </li>
                <li>
                    <a asp-controller="Payment" asp-action="Index" class="dropdown-item">
                        Payments
                    </a>
                </li>
                <li>
                    <a asp-controller="Receipt" asp-action="Index" class="dropdown-item">
                        Receipts
                    </a>
                </li>
                <li>
                    <div class="">
                        <a asp-action="Logout" asp-controller="Account"
                           class="dropdown-item">Logout</a>
                    </div>
                </li>
            </ul>
        </div>

    }
    else
    {
        <!-- Unlogged -->
        <div class="d-flex align-items-center p-2">
            <a asp-action="Register" asp-controller="Account"
               class="btn btn-dark mx-1 nav-link text-white p-2">Register </a>
        </div>
        <div class="d-flex align-items-center p-2">
            <a asp-action="Login" asp-controller="Account"
               class="btn btn-dark mx-1 nav-link text-white p-2">Login </a>
        </div>
    }
</div>