@model IEnumerable<Student>

<div class="d-flex flex-wrap container">
    @foreach(Student item in Model)
    {
            @* Using Tag-Helpers *@
        <a 
            asp-controller="Student"
            asp-action="Details"
            asp-route-id="@item.Id"
            class="btn btn-primary m-1 py-2 px-2 fs-4">@item.Name <hr /> [@item.School?.Name]</a>
    }
</div>